//main: style.less
/*------------------
buttton
--------------------*/
.s-btn {
  margin-right: 3px;
}

.s-export {
  padding: 15px;
  background-color: @white;
  border: 1px solid @border-color;
  border-top: none;
}

.btn {
  font-weight: 600;
  padding: .375rem .75rem;
  font-size: @font-size;
  border-radius: @border-radius;
  transition: all 0.15s ease-in-out;

  &-default {
    color: #495057;
    background-color: #f8f9fa;
    border-color: #dee2e6;

    &:hover {
      color: #212529;
      background-color: #e2e6ea;
      border-color: #dae0e5;
    }
  }

  &-primary {
    color: @white;
    border-color: @primary-blue;
    background-color: @primary-blue;
    &:hover {
      background-color: darken(@primary-blue, 10%);
      border-color: darken(@primary-blue, 10%);
    }
  }

  &-success {
      background-color: @accent-teal;
      border-color: @accent-teal;
       &:hover {
        background-color: darken(@accent-teal, 10%);
        border-color: darken(@accent-teal, 10%);
      }
  }

  &-sm {
    font-size: 8pt;
    padding: .25rem .5rem;
  }
}

.editLink {
  color: @font-color;
  display: block;
  position: relative;
  text-align: center;
  padding: 0;

  &:hover {
    color: @primary-blue;
  }

  &:before {
    content: "\f044"; /* Edit icon */
    font-size: 14pt;
    font-family: 'FontAwesome';
    line-height: 1;
  }
}