// main: style.less
/*------------------
Local Reset
--------------------*/
body {
  font: @font-size/@font-line-height @font-family;
  background: @bg-color;
  color: @font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
  font-family: @font-family;
  font-weight: 700;
  color: @primary-blue;
}
a {
  text-decoration: none !important;
  color: @font-color-anchor;
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: underline !important;
    color: darken(@font-color-anchor, 10%);
  }
}
img {
  border: 0;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: @border-color;
}
footer {
  border-top: 1px solid @border-color;
  position: relative;
  margin-left: @sidebar-width;
  padding: 1rem 1.5rem;
  background-color: @white;
  color: lighten(@font-color, 40%);
  font-size: 9pt;
  height: 51px;
}
*[disabled] {
  background-color: #e9ecef !important;
  border-color: #ced4da !important;
  color: #6c757d !important;
  opacity: 0.65;
  cursor: not-allowed;
}

iframe {
  border: none;
  width: 100%;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}