//main: style.less
/*------------------
header
--------------------*/
#header {
  z-index: 1020; /* Ensure header is above other content */
  position: relative;
  background-color: @white;
  margin-left: @sidebar-width;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 70px;
}