// main: style.less
#mainMenu {
  z-index: 1010;
  display: flex; /* Changed to flex */
  position: relative;
  background: @bg-menu;
  margin-left: @sidebar-width;
  width: calc(100% - @sidebar-width);
  height: 55px;
  border-bottom: 1px solid @border-color;
  align-items: center;
  padding: 0 1rem;
  overflow-x: auto;
  overflow-y: hidden;

  li {
    display: inline-flex; /* Use inline-flex for items */
    margin-right: 10px;
  }

  a {
    margin: 0;
    position: relative;
    padding: 0.5rem 1rem;
    font-family: @font-family;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    font-size: 10pt;
    color: darken(@primary-blue, 10%);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    &.menuCurrent,
    &:hover {
      color: @primary-blue;
      font-weight: 700;
      border-top-color: @accent-yellow;
      background-color: @white;
      text-decoration: none !important;
    }

    // remove underline effect
    &:after {
      content: none;
    }
  }
}

#menuList {
  margin: 0;
  padding: 0;
  line-height: 3;
}

.edit-link-area {
  text-align: right;
}