//main: style.less
table.s-table {
  width: 100%;
  background: @white;
  margin-bottom: 1rem !important;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  box-shadow: 0 1px 3px rgba(0,0,0,.03);
}

#dataList {
	position: relative;
  td {
    padding: .75rem;
    vertical-align: middle;
  }
}

.dataListHeader {
  background: lighten(@bg-color, 2%);
  td {
    text-transform: uppercase !important;
    background: lighten(@bg-color, 2%);
    white-space: nowrap;
    font-size: 9pt;
    font-weight: 700;
    padding: .75rem 1rem;
    border-bottom: 2px solid @border-color;
    color: darken(@primary-blue, 10%);
  }

  a {
    white-space: nowrap;
    color: inherit;
  }

  & a[href*='ASC']:after,
  & a[href*='DESC']:after {
    font-family: 'FontAwesome';
    content: "\f0d8";
    padding-left: 5px;
    font-size: 14px;
  }

  & a[href*='ASC']:after {
    content: "\f0d8";
  }

  & a[href*='DESC']:after {
    content: "\f0d7";
  }
}

#mainForm {
  & > table {
    border: 1px solid @border-color;
    box-shadow: 0 1px 3px rgba(0,0,0,.03);
  }
  & td {
    padding: 1rem;
  }
}

.alterCell,
.alterCell2 {
  background-color: @white !important;
  border-bottom: 1px solid @border-color;

  &:hover {
    background-color: @bg-color !important;
  }
}

.alterCell2 {
   // No difference needed for this theme
}

.alterCell.highlighted,
.alterCell2.highlighted {
  background: lighten(@accent-yellow, 30%) !important;
  color: @primary-blue !important;
}