//main: style.less
.s-user {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 70px;
  padding: 16px;
  border-bottom: 1px solid lighten(@sidebar, 10%);

  &-frame {
    padding: 0 !important;
    line-height: 0;
  }
  
  &-photo {
    z-index: 99;
    position: relative;
    float: left;
    border: 2px solid @white;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    
    & img {
      width: 100%;
      height: auto;
    }
  }

  a {
    padding-left: 0;
    color: @white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-name-container {
    line-height: 1.2;
  }

  &-name {
    font-size: 10pt;
    font-weight: 700;
    display: block;
  }

  &-role {
    font-size: 8pt;
    color: lighten(@sidebar, 40%);
    display: block;
  }
}

#userImage {
  padding: 0;
  margin: 0;
  max-width: 72px;
}

#imageFilename {
  .removeImage {
    color: @white;
  }
}
